:root{
    --color-primario: #005F73;
    --color-loginbtn: #3D879C;
    --color-background-register: #02556A;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-opacity: #4B4B4B;

}

body{
    min-height: 100vh;
    background-color: #ffffff;
}

/*       MAQUETADO----GRID     */

.container{
    min-width: 100%;
    display: grid;

    .header_nav{
        grid-area: header;
    }
    .main{
        grid-area: main;
    }
    .footercontent{
        grid-area: footer1;
    }
    .footer2{
        grid-area: footer2;
    }
    grid-template: 
    "header header header" 0.5fr
    "main main main" auto
    "footer1 footer1 footer1" 1fr
    "footer2 footer2 footer2" 0.1fr/
    auto auto auto;
}

/*       HEADER     */

.header_nav{
    color: white;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    box-shadow: 0.5px 0.5px 0.5px var(--color-primario);
}

.marca_container h1{
    font-size: 2.5rem;
    margin: 7px 0 0 0;
    color: #ffffff;
}

.marca_container img{
    max-width: 70px; 
    margin: 5px 10px 40px 25px;
}

.marca_container a{
    text-decoration: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.nav_container{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px; 
}

.nav_form {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}

.search_input {
    width: 85%;
    border-radius: 20px;
    border: none;
    padding: 7px;
    position: relative;
}

.nav_container .search_input:focus{
    outline: none;
}

.search_bar_container{
    position: relative;
}

.nav_container .nav_form a{
    color: var(--color-primario);
    position: absolute;
    right: 50px;
    bottom: 1px;
    cursor: pointer;
    font-size: 1.6rem;
}

.nav_container .search_input::placeholder{
    color: var(--color-loginbtn);
    position: absolute;
    left: 15px;
}

.nav_list_container{
    margin-top: 20px;
    font-size: 1.3rem;
}

.nav_list_container ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
}

.nav_list_container ul li a{
    text-decoration: none;
    color: white;
}

.inicio_sesion_container{
    padding: 20px 20px 20px 0;
    min-width: 369px;
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px 40px 0px;
}

.inicio_sesion_container a {
    color: white;
    margin: 5px;
    text-decoration: none;
    font-size: 1.3rem;

}

.fa-solid.fa-user, .fa-solid.fa-bag-shopping{
    font-size: 1.8rem;
    margin-left: 20px;
}

/*       SLIDER----SERVICES     */

.main.index .carousel_container{
    position: relative;
}

.main.index .carousel_container img{
    height: 95vh;
}

.main.index .carousel_container .overlay.img1 {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 380px;
    height: 380px;
    background-image: url(./multimedia/harry-potter/harry-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.main.index .carousel_container .overlay.img2 {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 380px;
    height: 350px;
    background-image: url(./multimedia/star-wars/baby-yoda-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.main.index .carousel_container .overlay.img3 {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 380px;
    height: 380px;
    background-image: url(./multimedia/pokemon/pikachu-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }

.main.index .services{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    min-width: 100%;
    text-align: center;
    color: #4B4B4B;
    opacity: 70%;
}

.main.index .services p{
    font-size: 1.1rem;
}

.main.index .services header h2{
    font-weight: bold;
    font-size: 2.2rem;
}

.main.index .metodo_pago_container,.metodo_entrega_container{
    padding: 80px 80px 80px 80px;
}

.main.index .metodo_pago_container i,.metodo_entrega_container i{
    font-size: 6.5rem;
    margin-bottom: 20px;
}

.main.index .metodo_entrega_container{
    padding-left: 5px;
}

/*       FOOTERCONTENT----FOOTER2     */

.footercontent {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0.294, 0.294, 0.294, 0.4);
    font-size: 1rem;
    padding: 80px 80px 40px 80px;
}

.footercontent div h4{
    font-weight: 670;
    margin-bottom: 18px;
}

.footercontent .categorias, .contactos{
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 20%;
}

.footercontent .contactos{
    display: flex;
    margin-left: 40px;
}

.footercontent .categorias{
    margin-left: 30px;
}

.footercontent .categorias ul, .contactos ul{
    list-style-type: none;
    padding: 0;
}

.footercontent .contactos ul{
    display: flex;
    width: 100%;
    margin-right: 30px;
}

.footercontent .contactos ul li{
    width: 18%;
}

.footercontent .categorias ul li{
    margin-bottom: 15px;
}

.footercontent .categorias ul li a{
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}
.footercontent .contactos ul li a{
    color: var(--color-opacity);
    font-size: 30px;
}

.marca_footer_container h1{
    font-size: 2.5rem;
    margin: 7px 0 0 0;
    color: var(--color-opacity);
}

.marca_footer_container img{
    max-width: 70px; 
    margin: 0px 10px 40px 25px;
    color: var(--color-opacity);
    opacity: 70%;
}

.marca_footer_container a{
    text-decoration: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.marca_footer_container{
    margin-left: auto;
}

.footer2{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0.294, 0.294, 0.294, 0.4);
    text-align: center;
    width: 47%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer2 a{
    color: #000000;
}


/*       LOGIN----REGISTER     */

.container-log{
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.container-log .mitad1 form{
    width: 358px;
    padding: 0px;
    margin: 0 20px;
    height: 422px;
}

.container-log .mitad2{
    width: 400px;
    height: 484px;
    padding: 50px;
}

.container-log fieldset{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 2rem;
    font-weight: 700;
}

.container-log .mitad1 input, label{
    display: block;
}

.container-log .mitad1 label{
    display: flex;
    margin: 15px 0 5px 40px;
}

.mitad1{
    border: 1px solid #000000;
    border-radius: 10px 0 0 10px;
}

.mitad2{
    float: right;
    background-color: var(--color-background-register);
    border-radius: 0 10px 10px 0;
}

div .mitad2 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 90px;
    font-size: 2rem;
    font-weight: 700;
}

.mitad1 input{
    border: 1px solid black ;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

.mitad1 input:focus{
    outline: none;
}

.mitad1 .loginbtn{
    width: 40%;
    margin-top: 60px;
    margin: 60px auto;
    padding: 8px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: var(--color-loginbtn);
    border: none;
}

.mitad2 a{
    width: 55%;
    margin-top: 60px;
    margin: 60px auto;
    padding: 6px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: var(--color-background-register);
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-decoration: none;
}

/*.mitad3{

}*/
.mitad3 input{
    border: 1px solid black ;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

.mitad3 input:focus{
    outline: none;
}

.mitad3 fieldset{
    margin-bottom: 15px;
}

.mitad3 .loginbtn{
    width: 40%;
    margin-top: 60px;
    margin: 20px auto;
    padding: 8px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: var(--color-loginbtn);
    border: none;
}

.container-log .mitad3 input, label{
    display: block;
}

.container-log .mitad3 label{
    display: flex;
    margin: 10px 0 3px 40px;
}

.mitad3{
    border: 1px solid #000000;
    border-radius: 10px 0 0 10px;
}

.container-log .mitad3 form{
    width: 358px;
    padding: 0px;
    margin: 0 5px;
    height: 422px;
}

/*       Form     */

.main.form .form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.main.form .img_container {
    flex: 0 0 30%;
    margin-right: 15px;
}

.main.form .img_container img{
    max-width: 100%;
}

.main.form form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main.form p{
    max-width: 61ch;
}

.form_group label, 
.form_group_checkbox label {
    display: block;
    margin-bottom: 5px;
}

.form_group input{
    border: 1px solid black ;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
}

.main.form .form_group input:focus{
    outline: none;
}

.form_group, .form_group_checkbox, .formbtn {
    margin-bottom: 15px;
}

.formbtn{
    width: 60%;
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    background-color: var(--color-background-register);
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.form_group_checkbox {
    display: flex;
    align-items: center;
}

.form_group_checkbox input{
    margin-right: 10px;
}


/*       Filter----Products     */

.main.product .container{
    width: 100vw;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
}

.filters {
    width: 200px;
    height: 180px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0.1px 0.1px 4px #c0bcbc;
    margin-right: 60px;
    box-sizing: border-box;
}

.filter_section h2 {
    font-size: 1rem;
    font-weight: 650;
}

.filter_options {
    list-style-type: none;
    padding: 0;
}
.filter_options li {
    margin-bottom: 5px;
    display: flex;
}

.filter_options input{
    margin-right: 10px;
}

.products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;
}

.product {
    flex: 1 1 calc(25% - 30px);
    box-shadow: 0.1px 0.1px 4px #c0bcbc;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.product img {
    max-width: 150px;
    height: auto;
}

.product .majinbuu{
    height: 139px;
}

.product h3 {
    margin-top: 10px;
    font-size: 1rem;
    text-align: left;
}

.product p {
    margin-top: 5px;
    font-size: 1rem;
    text-align: left;
}

.product button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--color-loginbtn);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}